<div class="text-center">
  <h2>{{subject_name}}</h2>
  <p>{{body_content}}</p>
  <p>Posted by {{user.user_name}} on {{format_date date_created}}</p>
  <p>
  </p>
  <form>
    <label for="comments"></label>
    <input type="text" style="min-height: 128px; min-width: 50%;" placeholder="Comment on this post!">
  </form>
    <button class="btn btn-primary">Fund this Project!</button>
</div>

{{!-- Put comments in this handlebars --}}